#about {
  display: grid;
  margin: clamp(30px, 50px, 5vw);
  gap: 20px;
}

.description {
  font-size: 1.5em;
}

#about a {
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}

#about a:hover {
  text-decoration: underline;
}