.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(50,40,40);
  /* background: radial-gradient(circle, rgba(50,40,40,1) 0%, rgba(213,43,114,1) 25%, rgba(199,27,100,1) 50%, rgba(213,43,114,1) 75%, rgba(50,40,40,1) 100%); */
}

.main a {
  color: #DEDEDE;
}

.navbar {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.headerButton {
  font-size: 2em; 
  font-family: Raleway;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  min-height: 30px;
  background-color: #322828;
  color: #DEDEDE;
  border-right: #DEDEDE 2px solid;
  transition: background-color 0.25s ease-in-out;
}

.headerButton:hover {
  background-color: #c71b64;
  color: #DEDEDE;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-top: 40vh;
  color: #DEDEDE;
}

.name {
  font-size: 4em;
}

.namedesc {
  font-size: 3em;
}

.arrow-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2%;
  align-items: center;
  height: 100%;
}

.arrow {
  min-width: 30px;
  max-width: 3vw;
  fill: #DEDEDE;
}