@font-face {
  font-family: Raleway;
  src: url('./Raleway/Raleway-VariableFont_wght.ttf');
}

body {
  margin: 0;
  padding: 0;
  min-height: 300px;
  font-family: Raleway;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.headerButton {
  font-size: 2em; 
  font-family: Raleway;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  min-height: 30px;
  color: white;
  background-color: black;
  border-right: white 2px solid;
  transition: background-color 0.25s ease-in-out;
}

.headerButton:hover {
  background-color: white;
  color: black;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-top: 40vh;
}

.arrow-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2%;
  align-items: center;
  height: 100%;
}

.arrow {
  min-width: 30px;
  max-width: 3vw;
}

.name {
  font-size: 4em;
}

.namedesc {
  font-size: 3em;
}